<%- include("layout/header.ejs") %>
  <main>
    <h1>Contact  page</h1>
    <h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis eros semper, faucibus lectus vitae, vulputate tellus. Nunc sollicitudin augue nec sodales lobortis. Integer maximus ex vitae vulputate suscipit. Curabitur ornare urna in est mollis condimentum. Nam nec pellentesque tellus. Proin sollicitudin aliquet justo. Mauris imperdiet purus nec eros mattis, pellentesque varius lectus laoreet. Maecenas in faucibus ipsum, eu rhoncus magna.

Sed elementum hendrerit mi id posuere. Nunc tincidunt tellus et est gravida tempor. Ut ac metus sollicitudin, ultricies est quis, varius massa. In hac habitasse platea dictumst. Sed finibus sem sit amet felis facilisis, sit amet pellentesque dui dignissim. Nunc pulvinar massa non risus efficitur tincidunt. Ut ullamcorper dolor id nibh accumsan euismod. Morbi vitae quam sed dui cursus dictum. In interdum ultrices pretium. Nunc a vestibulum nulla. Suspendisse sit amet sapien purus. Etiam mattis nisl et mauris suscipit, at aliquam diam porttitor. Nulla nec tempor turpis.

Cras vestibulum orci semper quam ultrices, sed consectetur turpis convallis. Fusce semper tincidunt malesuada. Donec suscipit nisi ut dignissim laoreet. In non nibh eros. Duis rutrum elit ac fringilla dignissim. Sed aliquet efficitur urna vitae dictum. Nullam eu tincidunt massa. Fusce aliquam lorem a ullamcorper elementum. Quisque sollicitudin a mi eu ullamcorper. Mauris placerat pharetra est, in porttitor purus lobortis et. Donec scelerisque mauris vitae laoreet fermentum. Vivamus semper, sapien porttitor luctus efficitur, eros metus porta velit, id accumsan est nulla id odio. Vestibulum eget pharetra ligula, ac sagittis turpis.

Duis felis nulla, dapibus in tincidunt ac, sagittis non libero. Cras auctor quam nibh, non molestie nunc lobortis vel. Phasellus at quam eu est convallis sodales sit amet eu nisl. Nunc ac mauris ac massa eleifend tincidunt in quis lectus. Duis blandit semper placerat. Aliquam nisi odio, ullamcorper sit amet elit sed, fermentum dictum felis. Nam ut massa a lectus sollicitudin fringilla. Vestibulum vitae odio sed ante pharetra dignissim. Nam placerat erat magna, ac sagittis justo aliquet non. Cras scelerisque blandit metus sit amet tempor. Suspendisse faucibus porttitor fringilla. Pellentesque sed lacus vehicula, dapibus enim sit amet, suscipit purus. Nullam ut velit quis ex aliquam fringilla quis eget ipsum. Aliquam vitae ante eros. Sed quam ipsum, interdum non tristique in, fermentum at orci.

Nullam lobortis nisl quam, a cursus lectus fringilla ac. Ut a neque id purus egestas commodo quis vitae ipsum. Sed consequat, erat vel viverra dictum, nunc libero egestas quam, eget suscipit odio orci a neque. Donec porta tristique tellus ac porta. Fusce a leo erat. Fusce ut posuere purus. Aliquam gravida turpis nulla, ac finibus ipsum venenatis vel. Curabitur vulputate iaculis lacus in dapibus. Curabitur nec felis orci. Fusce urna risus, iaculis vel posuere at, scelerisque ac neque. Ut eget sem sodales, sodales ipsum ac, pulvinar est. Nam semper tortor eu urna euismod ornare. Donec nec ligula commodo est luctus aliquet. Fusce eu sapien sed purus elementum posuere. Aliquam dapibus vitae quam id lobortis. Maecenas felis felis, dictum a sapien in, iaculis ullamcorper massa.
    </h2>
  </main>
  <footer>
    <p>copyright <%= year %>  </p>
  </footer>
</body>
</html>